<%- include('header') %> 
<div class="recent-grid">
  <div class="category">
    <div class="card">
        <div class="card-header">
            <h2>Loại sản phẩm</h2>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <td>ID Loại</td>
                        <td>Tên loại</td>
                        <td>Thứ tự</td>
                        <td>Ẩn hiện</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="listCategory">
                  <% for (let cate of data) { %>
                    <tr>
                        <td><%= cate.id %></td>
                        <td><%= cate.tenLoai %></td>
                        <td><%= cate.thuTu %></td>
                        <td><%= cate.anHien == 1 ? "Đang hiện" : "Đang ẩn" %></td>
                        <td>
                            <button class="btnEdit"><a href="/admin/category/edit/<%= cate.id %>">Sửa</a></button>
                            <button class="btnDelete"><a href="/admin/category/delete/<%= cate.id %>">Xóa</a></button>
                        </td>
                    </tr>
                  <% } %> 
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="add-category">
      <div class="card">
          <div class="card-header">
              <h3>Thêm loại sản phẩm</h3>
          </div>
          <form action="/admin/category/addnew" method="post">
            <div class="card-body">
                <input name="nameCategory" type="text" value="" placeholder="Nhập tên loại">
                <input name="rateCategory" type="text" value="" placeholder="Nhập thứ tự">
              </div>
              <div class="card-body">
                <label for="">Ẩn hiện</label>
                <input type="radio" name="status" value="1" checked> Hiện
                <input type="radio" name="status" value="0"> Ẩn              
            </div>
            <div class="card-body">
              <button type="submit" class="btnAdd">Lưu</button>
            </div>
          </form>
      </div>
  </div>
</div>
<%- include('footer') %> 